In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets\\AQIDataIndia.csv')

In [3]:
df.head()

,state,city,station,last_update,latitude,longitude,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
0,Bihar,Kishanganj,"SDM Office_Khagra, Kishanganj - BSPCB",14-11-2025 21:00,26.088130,87.938403,NO2,NaN,NaN,NaN
1,Bihar,Kishanganj,"SDM Office_Khagra, Kishanganj - BSPCB",14-11-2025 21:00,26.088130,87.938403,CO,12.0,16.0,14.0
2,Bihar,Manguraha,"Forest Rest House, Manguraha - BSPCB",14-11-2025 21:00,27.308328,84.531742,PM2.5,45.0,117.0,61.0
3,Bihar,Manguraha,"Forest Rest House, Manguraha - BSPCB",14-11-2025 21:00,27.308328,84.531742,PM10,55.0,131.0,77.0
4,Bihar,Manguraha,"Forest Rest House, Manguraha - BSPCB",14-11-2025 21:00,27.308328,84.531742,NH3,1.0,2.0,1.0

In [4]:
df.shape

(3359, 10)

In [7]:
len(list(df.columns))

10

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3359 entries, 0 to 3358
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state          3359 non-null   object
 1   city           3359 non-null   object
 2   station        3359 non-null   object
 3   last_update    3359 non-null   object
 4   latitude       3359 non-null   float64
 5   longitude      3359 non-null   float64
 6   pollutant_id   3359 non-null   object
 7   pollutant_min  3148 non-null   float64
 8   pollutant_max  3148 non-null   float64
 9   pollutant_avg  3148 non-null   float64
dtypes: float64(5), object(5)
memory usage: 262.6+ KB

In [11]:
df.isnull().sum()

state              0
city               0
station            0
last_update        0
latitude           0
longitude          0
pollutant_id       0
pollutant_min    211
pollutant_max    211
pollutant_avg    211
dtype: int64

In [14]:
df2 = df.dropna()

In [15]:
df.isnull().sum()

state              0
city               0
station            0
last_update        0
latitude           0
longitude          0
pollutant_id       0
pollutant_min    211
pollutant_max    211
pollutant_avg    211
dtype: int64

In [16]:
df2.isnull().sum()

state            0
city             0
station          0
last_update      0
latitude         0
longitude        0
pollutant_id     0
pollutant_min    0
pollutant_max    0
pollutant_avg    0
dtype: int64

In [17]:
df2.shape

(3148, 10)

In [18]:
import matplotlib.pyplot as plt

In [ ]:
df['city'].where(df['state']=='Bihar')

0       Kishanganj
1       Kishanganj
2        Manguraha
3        Manguraha
4        Manguraha
           ...
3354           NaN
3355           NaN
3356           NaN
3357           NaN
3358           NaN
Name: city, Length: 3359, dtype: object

In [ ]:
df['city'].where(df['state']=='Bihar')

0       Kishanganj
1       Kishanganj
2        Manguraha
3        Manguraha
4        Manguraha
           ...
3354           NaN
3355           NaN
3356           NaN
3357           NaN
3358           NaN
Name: city, Length: 3359, dtype: object

In [29]:
df['city'].where(df['state']=='Bihar').value_counts().dropna()

city
Patna           40
Gaya            19
Muzaffarpur     19
Bhagalpur       14
Munger           7
Kishanganj       7
Motihari         7
Manguraha        7
Bettiah          7
Chhapra          7
Buxar            7
Katihar          7
Araria           7
Arrah            7
Begusarai        7
Hajipur          7
Rajgir           7
Sasaram          7
Siwan            7
Aurangabad       7
Saharsa          7
Purnia           7
Bihar Sharif     6
Samastipur       6
Name: count, dtype: int64

In [30]:
df['city'].where(df['state']=='Bihar').dropna().value_counts()

city
Patna           40
Gaya            19
Muzaffarpur     19
Bhagalpur       14
Munger           7
Kishanganj       7
Motihari         7
Manguraha        7
Bettiah          7
Chhapra          7
Buxar            7
Katihar          7
Araria           7
Arrah            7
Begusarai        7
Hajipur          7
Rajgir           7
Sasaram          7
Siwan            7
Aurangabad       7
Saharsa          7
Purnia           7
Bihar Sharif     6
Samastipur       6
Name: count, dtype: int64

In [31]:
df.columns

Index(['state', 'city', 'station', 'last_update', 'latitude', 'longitude',
       'pollutant_id', 'pollutant_min', 'pollutant_max', 'pollutant_avg'],
      dtype='object')

In [35]:
df[['city','state','pollutant_max']].where(df['pollutant_max']>100).dropna()

           city          state  pollutant_max
2     Manguraha          Bihar          117.0
3     Manguraha          Bihar          131.0
12    Bhagalpur          Bihar          111.0
17        Buxar          Bihar          318.0
18        Buxar          Bihar          170.0
...         ...            ...            ...
3350    Kolkata    West_Bengal          259.0
3351    Kolkata    West_Bengal          118.0
3354   Siliguri    West_Bengal          130.0
3356   Siliguri    West_Bengal          105.0
3357  Vrindavan  Uttar_Pradesh          187.0

[1192 rows x 3 columns]

In [46]:
df[['city','pollutant_id','pollutant_max']].where(df.city=='Patna' and df.pollutant_max>100).dropna()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().