<a href="https://colab.research.google.com/github/faisu6339-glitch/Machine-learning/blob/main/HM_Date_%26_Time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
date=pd.read_csv('order.csv')
time=pd.read_csv('message.csv')

In [4]:
date.head()

   order_id  order_date product_id city_id    price  quantity  total_amount
0         1  2023-04-13       P004    C028  2857.79         2       5715.58
1         2  2024-03-11       P119    C031  1743.50         9      15691.50
2         3  2023-09-28       P049    C004   259.94         1        259.94
3         4  2023-04-17       P041    C022  3499.27         9      31493.43
4         5  2023-03-13       P188    C004  4038.18         2       8076.36

In [5]:
time.head()

,message_id,user_id,timestamp,message_text,is_spam
0,1,3732,2024-01-29 20:54:15,Order delivered successfully,0
1,2,3607,2024-04-19 08:57:48,"Payment failed, please retry",1
2,3,2653,2024-03-31 03:00:44,"Payment failed, please retry",0
3,4,4264,2024-02-14 21:09:41,Order cancelled by user,0
4,5,1835,2024-02-21 07:38:03,Your refund has been initiated,0

In [6]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      100000 non-null  int64
 1   order_date    95000 non-null   object
 2   product_id    100000 non-null  object
 3   city_id       95000 non-null   object
 4   price         95000 non-null   float64
 5   quantity      100000 non-null  int64
 6   total_amount  95000 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 5.3+ MB

In [7]:
date.isnull().sum()

order_id           0
order_date      5000
product_id         0
city_id         5000
price           5000
quantity           0
total_amount    5000
dtype: int64

In [8]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   message_id    50000 non-null  int64
 1   user_id       50000 non-null  int64
 2   timestamp     50000 non-null  object
 3   message_text  50000 non-null  object
 4   is_spam       50000 non-null  int64
dtypes: int64(3), object(2)
memory usage: 1.9+ MB

#Workking with Dates

converting to datetime datatype

In [9]:
date['order_date']=pd.to_datetime(date['order_date'])

In [11]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      100000 non-null  int64
 1   order_date    95000 non-null   datetime64[ns]
 2   product_id    100000 non-null  object
 3   city_id       95000 non-null   object
 4   price         95000 non-null   float64
 5   quantity      100000 non-null  int64
 6   total_amount  95000 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 5.3+ MB

Extract year

In [13]:
date['date_year']=date['order_date'].dt.year

In [18]:
date.sample(5)

,order_id,order_date,product_id,city_id,price,quantity,total_amount,date_year,date_month_no
73498,73499,2024-01-24,P144,C005,2365.28,4,9461.12,2024.0,1.0
9696,9697,2023-11-02,P192,C044,616.44,8,4931.52,2023.0,11.0
14120,14121,2024-11-28,P066,C026,2880.79,3,8642.37,2024.0,11.0
74474,74475,2024-03-24,P087,C046,77.98,7,545.86,2024.0,3.0
38795,38796,2024-07-10,P032,C011,4568.43,4,18273.72,2024.0,7.0

Extract Months

In [15]:
date['date_month_no']=date['order_date'].dt.month

In [16]:
date.head()

,order_id,order_date,product_id,city_id,price,quantity,total_amount,date_year,date_month_no
0,1,2023-04-13,P004,C028,2857.79,2,5715.58,2023.0,4.0
1,2,2024-03-11,P119,C031,1743.50,9,15691.50,2024.0,3.0
2,3,2023-09-28,P049,C004,259.94,1,259.94,2023.0,9.0
3,4,2023-04-17,P041,C022,3499.27,9,31493.43,2023.0,4.0
4,5,2023-03-13,P188,C004,4038.18,2,8076.36,2023.0,3.0

In [23]:
date['date_month_name']=date['order_date'].dt.month_name()

In [24]:
date.head(5)

,order_id,order_date,product_id,city_id,price,quantity,total_amount,date_year,date_month_no,date_month_name
0,1,2023-04-13,P004,C028,2857.79,2,5715.58,2023.0,4.0,April
1,2,2024-03-11,P119,C031,1743.50,9,15691.50,2024.0,3.0,March
2,3,2023-09-28,P049,C004,259.94,1,259.94,2023.0,9.0,September
3,4,2023-04-17,P041,C022,3499.27,9,31493.43,2023.0,4.0,April
4,5,2023-03-13,P188,C004,4038.18,2,8076.36,2023.0,3.0,March

Extract Days

In [25]:
date['date_day']=date['order_date'].dt.day

In [26]:
date.head(5)

,order_id,order_date,product_id,city_id,price,quantity,total_amount,date_year,date_month_no,date_month_name,date_day
0,1,2023-04-13,P004,C028,2857.79,2,5715.58,2023.0,4.0,April,13.0
1,2,2024-03-11,P119,C031,1743.50,9,15691.50,2024.0,3.0,March,11.0
2,3,2023-09-28,P049,C004,259.94,1,259.94,2023.0,9.0,September,28.0
3,4,2023-04-17,P041,C022,3499.27,9,31493.43,2023.0,4.0,April,17.0
4,5,2023-03-13,P188,C004,4038.18,2,8076.36,2023.0,3.0,March,13.0

Day of week

In [27]:
date['date_dow']=date['order_date'].dt.dayofweek

In [28]:
date.head()

,order_id,order_date,product_id,city_id,price,quantity,total_amount,date_year,date_month_no,date_month_name,date_day,date_dow
0,1,2023-04-13,P004,C028,2857.79,2,5715.58,2023.0,4.0,April,13.0,3.0
1,2,2024-03-11,P119,C031,1743.50,9,15691.50,2024.0,3.0,March,11.0,0.0
2,3,2023-09-28,P049,C004,259.94,1,259.94,2023.0,9.0,September,28.0,3.0
3,4,2023-04-17,P041,C022,3499.27,9,31493.43,2023.0,4.0,April,17.0,0.0
4,5,2023-03-13,P188,C004,4038.18,2,8076.36,2023.0,3.0,March,13.0,0.0

Day of week -name

In [31]:
date['date_dow_name']=date['order_date'].dt.day_name()
date.drop(columns=['product_id','city_id','order_id','price','quantity','total_amount']).head()

,order_date,date_year,date_month_no,date_month_name,date_day,date_dow,date_dow_name
0,2023-04-13,2023.0,4.0,April,13.0,3.0,Thursday
1,2024-03-11,2024.0,3.0,March,11.0,0.0,Monday
2,2023-09-28,2023.0,9.0,September,28.0,3.0,Thursday
3,2023-04-17,2023.0,4.0,April,17.0,0.0,Monday
4,2023-03-13,2023.0,3.0,March,13.0,0.0,Monday

Is weekend

In [32]:
date['date_is_weekend']=np.where(date['date_dow_name'].isin(['Sunday','Saturday']),1,0)
date.drop(columns=['product_id','city_id','order_id','price','quantity','total_amount']).head()

,order_date,date_year,date_month_no,date_month_name,date_day,date_dow,date_dow_name,date_is_weekend
0,2023-04-13,2023.0,4.0,April,13.0,3.0,Thursday,0
1,2024-03-11,2024.0,3.0,March,11.0,0.0,Monday,0
2,2023-09-28,2023.0,9.0,September,28.0,3.0,Thursday,0
3,2023-04-17,2023.0,4.0,April,17.0,0.0,Monday,0
4,2023-03-13,2023.0,3.0,March,13.0,0.0,Monday,0

Extract week of the year

In [34]:
date['date_week']=date['order_date'].dt.isocalendar().week
date.drop(columns=['product_id','city_id','order_id','price','quantity','total_amount']).head()

,order_date,date_year,date_month_no,date_month_name,date_day,date_dow,date_dow_name,date_is_weekend,date_week
0,2023-04-13,2023.0,4.0,April,13.0,3.0,Thursday,0,15
1,2024-03-11,2024.0,3.0,March,11.0,0.0,Monday,0,11
2,2023-09-28,2023.0,9.0,September,28.0,3.0,Thursday,0,39
3,2023-04-17,2023.0,4.0,April,17.0,0.0,Monday,0,16
4,2023-03-13,2023.0,3.0,March,13.0,0.0,Monday,0,11

Extract Quarter

In [35]:
date['date_quarter']=date['order_date'].dt.quarter
date.drop(columns=['product_id','city_id','order_id','price','quantity','total_amount']).head()

,order_date,date_year,date_month_no,date_month_name,date_day,date_dow,date_dow_name,date_is_weekend,date_week,date_quarter
0,2023-04-13,2023.0,4.0,April,13.0,3.0,Thursday,0,15,2.0
1,2024-03-11,2024.0,3.0,March,11.0,0.0,Monday,0,11,1.0
2,2023-09-28,2023.0,9.0,September,28.0,3.0,Thursday,0,39,3.0
3,2023-04-17,2023.0,4.0,April,17.0,0.0,Monday,0,16,2.0
4,2023-03-13,2023.0,3.0,March,13.0,0.0,Monday,0,11,1.0

Extract Semester

In [36]:
date['date_semester'] = np.where(date['date_month_no'].isin([1, 2, 3, 4, 5, 6]), 1, 2)
date.drop(columns=['product_id','city_id','order_id','price','quantity','total_amount']).head()

,order_date,date_year,date_month_no,date_month_name,date_day,date_dow,date_dow_name,date_is_weekend,date_week,date_quarter,date_semester
0,2023-04-13,2023.0,4.0,April,13.0,3.0,Thursday,0,15,2.0,1
1,2024-03-11,2024.0,3.0,March,11.0,0.0,Monday,0,11,1.0,1
2,2023-09-28,2023.0,9.0,September,28.0,3.0,Thursday,0,39,3.0,2
3,2023-04-17,2023.0,4.0,April,17.0,0.0,Monday,0,16,2.0,1
4,2023-03-13,2023.0,3.0,March,13.0,0.0,Monday,0,11,1.0,1

In [38]:
# For demonstration, let's create a hypothetical 'delivery_date' column
# by adding a random number of days (1 to 10) to the 'order_date'.
# In a real scenario, you would use your actual second date column.
import datetime

date['delivery_date'] = date['order_date'] + pd.to_timedelta(np.random.randint(1, 11, size=len(date)), unit='D')

# Calculate the time elapsed in days
date['time_elapsed_days'] = (date['delivery_date'] - date['order_date']).dt.days

# Display the relevant columns to show the result
display(date[['order_date', 'delivery_date', 'time_elapsed_days']].head())

  order_date delivery_date  time_elapsed_days
0 2023-04-13    2023-04-20                7.0
1 2024-03-11    2024-03-19                8.0
2 2023-09-28    2023-10-01                3.0
3 2023-04-17    2023-04-24                7.0
4 2023-03-13    2023-03-21                8.0

In [40]:
import datetime
today = pd.to_datetime(datetime.date.today())
(today - date['order_date']).dt.days

0        1009.0
1         676.0
2         841.0
3        1005.0
4        1040.0
          ...
99995    1076.0
99996     499.0
99997     413.0
99998     539.0
99999     780.0
Name: order_date, Length: 100000, dtype: float64

Months passed

In [42]:
# Calculate total months for today
total_months_today = today.year * 12 + today.month

# Calculate total months for each order_date
total_months_order_date = date['order_date'].dt.year * 12 + date['order_date'].dt.month

# Calculate the difference in months
months_passed = total_months_today - total_months_order_date

# Rounding to 0 decimal places as in the original request
np.round(months_passed, 0)

0        33.0
1        22.0
2        28.0
3        33.0
4        34.0
         ...
99995    35.0
99996    16.0
99997    14.0
99998    18.0
99999    26.0
Name: order_date, Length: 100000, dtype: float64

In [43]:
time

,message_id,user_id,timestamp,message_text,is_spam
0,1,3732,2024-01-29 20:54:15,Order delivered successfully,0
1,2,3607,2024-04-19 08:57:48,"Payment failed, please retry",1
2,3,2653,2024-03-31 03:00:44,"Payment failed, please retry",0
3,4,4264,2024-02-14 21:09:41,Order cancelled by user,0
4,5,1835,2024-02-21 07:38:03,Your refund has been initiated,0
...,...,...,...,...,...
49995,49996,4260,2024-02-27 20:39:37,Thank you for your purchase,0
49996,49997,4009,2024-03-07 04:14:23,New offer available now,0
49997,49998,4301,2024-04-26 03:30:50,Your order is being processed,0
49998,49999,4521,2024-04-05 09:45:30,Item is out of stock,0
49999,50000,2191,2024-01-20 05:53:28,Discount applied to your order,0

In [45]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   message_id    50000 non-null  int64
 1   user_id       50000 non-null  int64
 2   timestamp     50000 non-null  object
 3   message_text  50000 non-null  object
 4   is_spam       50000 non-null  int64
dtypes: int64(3), object(2)
memory usage: 1.9+ MB

Converting to datetime datatype

In [46]:
time['timestamp']=pd.to_datetime(time['timestamp'])

In [47]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   message_id    50000 non-null  int64
 1   user_id       50000 non-null  int64
 2   timestamp     50000 non-null  datetime64[ns]
 3   message_text  50000 non-null  object
 4   is_spam       50000 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 1.9+ MB

In [48]:
time['hour']=time['timestamp'].dt.hour
time['minute']=time['timestamp'].dt.minute
time['sec']=time['timestamp'].dt.second
time.head()

,message_id,user_id,timestamp,message_text,is_spam,hour,minute,sec
0,1,3732,2024-01-29 20:54:15,Order delivered successfully,0,20,54,15
1,2,3607,2024-04-19 08:57:48,"Payment failed, please retry",1,8,57,48
2,3,2653,2024-03-31 03:00:44,"Payment failed, please retry",0,3,0,44
3,4,4264,2024-02-14 21:09:41,Order cancelled by user,0,21,9,41
4,5,1835,2024-02-21 07:38:03,Your refund has been initiated,0,7,38,3

In [51]:
time.drop(columns=['message_id','user_id','message_text'])

                timestamp  is_spam  hour  minute  sec
0     2024-01-29 20:54:15        0    20      54   15
1     2024-04-19 08:57:48        1     8      57   48
2     2024-03-31 03:00:44        0     3       0   44
3     2024-02-14 21:09:41        0    21       9   41
4     2024-02-21 07:38:03        0     7      38    3
...                   ...      ...   ...     ...  ...
49995 2024-02-27 20:39:37        0    20      39   37
49996 2024-03-07 04:14:23        0     4      14   23
49997 2024-04-26 03:30:50        0     3      30   50
49998 2024-04-05 09:45:30        0     9      45   30
49999 2024-01-20 05:53:28        0     5      53   28

[50000 rows x 5 columns]